.App {
  text-align: center;
  margin: 0 auto;
  max-width: 960px;
}

.App-header {
  margin: 0 auto;
  color: rgb(26, 138, 59);
  font-weight: bold;
  font-size: 70px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
